

    <div class="footer">
      <div class="row footer-main-row">
        <div class="col-lg-4 col-sm-12">
         <div class="about-project">
           <h4 class="footer-h4">About Project</h4>
           <p>This is a sample project which can serve for a platform where sellers who are willing to sell their used
           products at desirable price can meet with those who are willing to buy at that given price</p>
         </div>
        </div>
        <div class="col-lg-4 col-sm-12">
           <div class="footer-links">
             <h4 class="footer-h4">SOCIAL</h4>
             <h6><a href="https://www.facebook.com/profile.php?id=100039280729807" class="anchor-footer"><i class="fab footer-icon fa-facebook-square"></i> FACEBOOK</a></h6>
             <h6><a href="https://www.linkedin.com/in/yash-vardhan-688952188/" class="anchor-footer"><i class="fab footer-icon fa-linkedin"></i> LINKEDIN</a></h6>
             <h6><a href="mailto:yash.19je0936@mech.iitism.ac.in" class="anchor-footer"><i class="fab footer-icon fa-google"></i> GMAIL</a></h6>
             <h6><a href="https://github.com/Grumpyyash" class="anchor-footer"><i class="fab footer-icon fa-github-square"></i> GITHUB</a></h6>
           </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="about-developer">
              <h4 class="footer-h4">About Developer</h4>
              <h6>YASH VARDHAN <br>
              @ IIT(ISM) DHANBAD <br>
              (2019-2023)</h6>
              <h5 class="manual"><a href="/manual" class="anchor-footer">PROJECT MANUAL</a></h5>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
