<%- include("partials/header") -%>

<section class="category">
  <h4>CHOOSE YOUR AD</h4>
  <hr>
  <div class="row category-main-div">
    <div class=" col-lg-12 col-sm-12">
      <h5>SELECT A CATEGORY</h5><br>
      <h6><i class=" mobile fas fa-mobile-alt"></i> <a class="category-anchor" href="/phones">MOBILES</a> <i class="fas category-right fa-chevron-right"></i></h6><hr>
      <h6><i class="category-icon fas fa-laptop"></i> <a class="category-anchor" href="/laptops">LAPTOPS</a <i class="fas category-right fa-chevron-right"></i></h6><hr>
      <h6><i class="category-icon fas fa-tv"></i> <a class="category-anchor" href="/computers">COMPUTERS</a> <i class="fas category-right fa-chevron-right"></i></h6><hr>
      <h6><i class="category-icon far fa-compass"></i> <a class="category-anchor" href="/electronics">ELECTRONICS</a> <i class="fas category-right fa-chevron-right"></i></h6><hr>
      <h6><i class="category-icon far fa-compass"></i> <a class="category-anchor" href="/drafters">DRAFTERS</a> <i class="fas category-right fa-chevron-right"></i></h6><hr>
      <h6><i class="category-icon fas fa-user-secret"></i> <a class="category-anchor" href="/labCoats">LABCOATS</a> <i class="fas category-right fa-chevron-right"></i></h6><hr>
      <h6><i class="category-icon far fa-question-circle"></i><a class="category-anchor" href="/others">OTHERS</a> <i class="fas category-right fa-chevron-right"></i></h6>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
