<%- include('partials/header') %>

<div class="container mt-5">
  <% if(text){ %>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <p><%= text %></p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>
  <div class="center-element">
    <h4 class="login-header">LOGIN</h4>
  </div>


  <div class="row">
    <div class="col-sm-12 login-div">     
      <div class="login-card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" autocomplete="off">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>

        </div>
      </div>
      <div class="logout-div">
        <p>New to the Application?</p>
        <a href="/register" class="btn btn-dark">Register</a>
      </div>
      <div class="alternate-login">
        <h5>Or Continue With Google</h5>
        <hr>
      </div>
    </div>

     <div class="col-sm-7 google-div">
       <button class="loginBtn loginBtn--google">
         <a class="non-hover" style="color: white;" href="auth/google">Login with Google</a>
       </button>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
