<%- include("partials/header"); -%>

<div class="home-h4">
<h4>PROJECT MANUAL <i class="far fa-sticky-note"></i></h4>
</div>
<hr>

<div class="sell-div">

 <div class="product-details">
   <h5>ABOUT PROJECT <i class="fas fa-cog"></i></h5>
   <hr>

   <p>This is a sample project made while exploring Back-end development, collaborated with databases.
   The project combines of geek use of EJS, NODE JS, EXPRESS and MONGODB as the database.
   The project also consists of a great UI, formulated by the use of CSS and its contemporary
   pacakages like BOOTSTRAP, ANIMATION and MATERIAL-UI. Hope you like it :)</p>

   <br>

   <h5>WHY <i class="fas fa-question"></i></h5>
   <hr>

   <p>Developed mainly keeping in mind the nesessity of reuse of things like Drafters and LabCoats by university
   students which they require only for a small time, this project provides an easy interface to those People
   seeking, as well as those willing to sell the things. Although this could and indeed is extended to a larger
   scale where it can aid the trade of used precious things like- phone and laptops as well. Although, We will
   keep addding new features and functionalities as time progresses :)</p>

   <br>

   <h5>HOW TO USE <i class="fas fa-question"></i></h5>
   <hr>

   <p>The usage of the application is as easy as a cakewalk. If you are a seller, just fill in the details in
   the sell section and if you are a seeker, just post a demand and leave everything else to us.
   We will take care of the rendering and showing up of your data and other functionalities.</p>

   <br>

   <h5>ABOUT DEVELOPER <i class="far fa-user"></i></h5>
   <hr>

   <p>HI THERE! I'm Yash Vardhan, a first year undergrad at Indian Institute of Technology
   (Indian School of Mines) Dhanbad. I'm currently exploring Web development and will be happy
   to listen to your views regarding this project at - </p>
   <br>
   <div class="manual-link">
     <a class="manual-icon" href="https://www.facebook.com/profile.php?id=100039280729807"><i class="fab fa-facebook-square"></i></a>
     <a class="manual-icon" href="https://www.linkedin.com/in/yash-vardhan-688952188/"><i class="fab fa-linkedin"></i></a>
     <a class="manual-icon" href="mailto:yash.19je0936@mech.iitism.ac.in"><i class="far fa-envelope"></i></a>
     <a class="manual-icon" href="tel:9065676023"><i class="fas fa-phone-square-alt"></i></a>
   </div>



 </div>
</div>


<%- include("partials/footer"); -%>
