<%- include("partials/header") -%>

<div class="home-h4">
<h4>Search Details</h4>
</div>
<hr>
<div class="row cards-row">
  <div class="col-lg-6 col-sm-12">
    <div class="">
      <img class="error-img" src="https://images.unsplash.com/photo-1532003885409-ed84d334f6cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="not-found">
      <h3>Sorry :(<br>
      The searched item was not found.<br>
      in our database. Please leave a <br>
      demand now <br>
      </h3>
      <button href="" type="button" class="btn actual-btn btn-lg btn-outline-info"><a class="consumer-button" href="/consumer">POST NOW</a></button>
    </div>
  </div>
</div>






<%- include("partials/footer") -%>
